<!DOCTYPE html>
<html>
  <head>
    <title><%= title_helper(controller_name) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/flash" %>
    <p style="text-align:right;">
      <% if current_person == nil %>
        <%= link_to 'Log in', new_session_path %>
      <% else %>
        <%= current_person.full_name %>
        <%= link_to 'Log out', session_path(session[:current_user_id]), method: :delete %>
      <% end %>
    </p>
    <%= yield %>
  </body>
</html>
