<div class='account'>
  <%= form_for @account, url: accounts_path, local: true do |form| %>
    <% if @account.errors.any? %>
      <div id="error_explanation">
        <h5>
          <%= pluralize(@account.errors.count, "error") %> prohibited
          this account from being saved:
        </h5>
        <ul>
          <% @account.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h3 class='account-input'>Create account</h3>

    <%= form.fields_for :owner do |owner| %>
      <div class='account-input'>
        <%= owner.label :first_name, class: 'label' %>
        <%= owner.text_field :first_name, class: 'input' %>
      </div>

      <div class='account-input'>
        <%= owner.label :last_name, class: 'label' %>
        <%= owner.text_field :last_name, class: 'input' %>
      </div>
    <% end %>

    <div class='account-input'>
      <%= form.label :email, class: 'label' %>
      <%= form.email_field :email, class: 'input' %>
    </div>

    <div class='account-input'>
      <%= form.label :password, class: 'label' %>
      <%= form.password_field :password, class: 'input' %>
    </div>

    <div class='account-input'>
      <%= form.label :password_confirmation, class: 'label' %>
      <%= form.password_field :password_confirmation, class: 'input' %>
    </div>

    <div class='margins-for-botton'>
      <%= form.submit ('Sign in'), class: 'botton'%>
    </div>
  <% end %>
</div>
